.global-header #edit-actions-submit {
  background-image: url('./search-submit.svg');
}


.global-header .primary-nav__link-toggle::after,
.global-header .primary-nav__third-level-toggle::after {
  background-image: url('./caret.svg');
}

.global-header .primary-nav__item a[target="_blank"]::after {
  background-image: url('./arrow-diagonal.svg');
}
